<div *ngIf="product.title" class="card">
  <img *ngIf="product.imageUrl" class="card-img-top img-fluid" [src]="product.imageUrl" alt="{{ product.title }}">
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <p class="card-text">{{ product.price | currency:'INR':'symbol' }}</p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <button *ngIf="Quantity == 0; else updateQuantity"
     (click)="addToCart(product)" class="btn btn-secondary btn-block">Add to Cart</button>
     <ng-template #updateQuantity>
       <div class="row no-gutters">
         <div class="col-2">
           <button class="btn btn-block btn-secondary">-</button>
         </div>
         <div class="col text-center">
           {{Quantity}} in cart
         </div>
         <div class="col-2">
           <button class="btn btn-block btn-secondary">+</button>
         </div>
       </div>
     </ng-template>
  </div>
</div>    