<div class="row col-10" *ngIf="order$ | async as order" >
  <h2>
    Order Details
    <div>
      <a class="btn btn-primary btn-sm " [routerLink]="['/my/orders']">Back to My Orders</a>
    </div>
  </h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th style="width: 230px" >Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tr *ngFor="let item of order.items">
      <td><div [style.backgroundImage]="'url('+item.product.imageUrl+')'" class="thumbnail" ></div></td>
      <td>{{item.product.title}}</td>
      <td>{{item.quantity}}</td>
      <td class="text-right" >{{item.totalPrice | currency:'INR':'symbol'}}</td>
    </tr>
  </table>
<div>
  <div class="card" *ngIf="order.shipping as shipping">
      <div class="card-body">
        <h4 class="card-title">Shipment Details</h4>
        <p class="card-text">Shipment Details of your order dated {{order.datePlaced | date:fullDate}} are as follows</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{shipping.name}}
          </li>
          <li class="list-group-item">
            {{shipping.addressLine1}},{{shipping.addressLine2}}
          </li>
          <li class="list-group-item">
            {{shipping.city}}
          </li>
        </ul>
      </div>
    </div>
</div>
</div>